<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр фильма</title>
</head>
<body>
<form layout:fragment="content">
    <div>
        <h3 th:text="'Информация о фильме: ' + ${film.getFilmTitle()}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="filmTitle" class="col-sm-2 col-form-label no-border">Название:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getFilmTitle()}" type="text" readonly class="form-control-plaintext" id="filmTitle">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="genre" class="col-sm-2 col-form-label">Жанр:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getGenre().getGenreTextDisplay()}" class="form-control-plaintext" id="genre">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-sm-2 col-form-label">Онлайн копия:</label>
                <div class="col-sm-10">
                    <a class="text-link text-blue" th:if="${film.getOnlineCopyPath()} != null" th:href="@{|/films/download?filmId=${film.id}|}">
                        <span>Скачать книгу</span>
                    </a>
                </div>
            </div>
            <div class="mb-2 row">
                <label for="amount" class="col-sm-2 col-form-label">Количество копий в наличии:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getAmount()}" class="form-control-plaintext" id="amount">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="minutes" class="col-sm-2 col-form-label">Продолжительность:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getMinutesCount()}" class="form-control-plaintext" id="minutes">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="publish" class="col-sm-2 col-form-label">Кинокомпания:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getPublish()}" class="form-control-plaintext" id="publish">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="date" class="col-sm-2 col-form-label">Дата премьеры:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getPublishDate()}" class="form-control-plaintext" id="date">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="desc" class="col-sm-2 col-form-label">Описание:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getDescription()}" class="form-control-plaintext" id="desc">
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <form class="row g-1">
            <h4 class="mt-3 mb-3" th:text="'Информация о режиссере(ах)'"></h4>
            <div th:each="director : ${film.getDirectorInfo()}">
                <div class="mb-2 row">
                    <label for="fio" class="col-sm-2 col-form-label">ФИО:</label>
                    <div class="col-sm-10">
                        <a class="text-link text-blue" th:href="'/directors/' + ${director.getId()}" th:text="${director.getDirectorFIO()}" id="fio"></a>
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="date_birth" class="col-sm-2 col-form-label">Дата рождения:</label>
                    <div class="col-sm-10">
                        <p th:text="${director.getBirthDate()}" class="form-control-plaintext" id="date_birth">
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="desc_director" class="col-sm-2 col-form-label">Описание:</label>
                    <div class="col-sm-10">
                        <p th:text="${director.getDescription()}" class="form-control-plaintext" id="desc_director">
                    </div>
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <form class="row g-1">
            <h4 class="mt-3 mb-3" th:text="'Отзывы:'"></h4>
            <div th:each="feedback : ${film.getFeedbacks()}">
                <div class="mb-2 row">
                    <p for="fio" class="col-sm-2 col-form-label"><b>Пользователь:</b></p>

                    <div class="col-sm-10">
                        <p style="color:#06b2cc" th:text="${feedback.getNickname()}" class="form-control-plaintext">
                    </div>

                </div>
                <div class="mb-2 row">
                    <p for="date_birth" class="col-sm-2 col-form-label">Оценка:</p>
                    <div class="col-sm-10">
                        <p th:text="${feedback.getRank()}" class="form-control-plaintext">
                    </div>
                </div>
                <div class="mb-2 row">
                    <p for="desc_director" class="col-sm-2 col-form-label">Отзыв:</p>
                    <div class="col-sm-10">
                        <p th:text="${feedback.getContent()}" class="form-control-plaintext">
                    </div>
                </div>
            </div>
            <hr class="hr"/>
        </form>
        <div class="mt-2">
            <a th:if="${film.getAmount() > 0}" sec:authorize="!hasRole('ADMIN')" class="btn btn-primary"
               th:href="'/rent/film/' + ${film.id}">Прокат фильма</a>
            <a th:if="${film.getAmount() > 0}" sec:authorize="!hasRole('ADMIN')" class="btn btn-primary"
               th:href="'/feedbacks/' + ${film.id}">Оставить отзыв</a>
            <!--переделать путь ^ !!! -->
            <!--/Fdd-feedback/{filmId}-->
            <!--th:href="@{/feedbacks/add}">Оставить отзыв</a> БЫЛО!!!!!-->
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </div>
</form>
</body>
</html>
